<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>@ViewData["Title"] - viewer</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129035557-4"></script>
    <script>window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-129035557-4');</script>
</head>
<body>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
