<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name=description
          content="Open, view and examine gbXML files in 3D in your browser with free, open source entry-level Three.js JavaScript">
    <meta name=keywords content="gbXML,Spider,Ladybug.tools,Three.js,WebGL,JavaScript,GitHub,FOSS,3D,STEM">
    <meta name="date" content="2018-11-15">
    <title>@ViewData["Title"] - viewer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/spider_lib/r7/style.css">
    <link rel="stylesheet" href="~/css/font-awesome.css"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129035557-4"></script>
    <script>window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-129035557-4');</script>
</head>
<body>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
