<!DOCTYPE html>

<html lang="en" class="default-style" style="height:100vh; overflow:hidden">
<head>
    <meta name=description
          content="Open, view and examine gbXML files in 3D in your browser with free, open source entry-level Three.js JavaScript">
    <meta name=keywords content="gbXML,Spider,Ladybug.tools,Three.js,WebGL,JavaScript,GitHub,FOSS,3D,STEM">
    <meta name="date" content="2018-11-15">
    <title>@ViewData["Title"] - gbXML Validator</title>
    <link rel="stylesheet" href="~/lib/spider_lib/r7/style.css">
    <!-- Icon fonts -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/ionicons.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/linearicons.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/open-iconic.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/pe-icon-7-stroke.css">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/bootstrap.css" class="theme-settings-bootstrap-css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/appwork.css" class="theme-settings-appwork-css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/colors.css" class="theme-settings-colors-css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/uikit.css">
    <link rel="stylesheet" href="~/assets/css/demo.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/view.css">
    <!-- Load polyfills -->
    <script src="~/assets/vendor/js/polyfills.js"></script>
    <script>document['documentMode'] === 10 && document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.~locale.en"><\/script>')</script>

    <script src="~/assets/vendor/js/material-ripple.js"></script>
    <script src="~/assets/vendor/js/layout-helpers.js"></script>
    <!-- Core scripts -->
    <script src="~/assets/vendor/js/pace.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Libs -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/smartwizard/smartwizard.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/dropzone/dropzone.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/spinkit/spinkit.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/sweetalert2/sweetalert2.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/photoswipe/photoswipe.css">

    <link rel="stylesheet" type="text/css" href="~/css/gbxml.css">
    <link rel="stylesheet" id="stylesheetW3schools" type="text/css">

</head>
<body style="background: white;min-height:100vh; overflow-y:scroll">
    <div>
        @RenderSection("NavTop", required: false)
    </div>
    @RenderBody()
    <!-- Core scripts -->
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/js/sidenav.js"></script>

    <!-- Libs -->
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/libs/smartwizard/smartwizard.js"></script>
    <script src="~/assets/vendor/libs/validate/validate.js"></script>
    <script src="~/assets/vendor/libs/dropzone/dropzone.js"></script>
    <script src="~/assets/vendor/libs/flow-js/flow.js"></script>
    <script src="~/assets/vendor/libs/block-ui/block-ui.js"></script>
    <script src="~/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <!-- Load the element definition -->
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>
    <!-- Demo -->
    <script src="~/assets/vendor/libs/moment/moment.js"></script>
    <script src="~/assets/js/demo.js"></script>
    <script src="~/assets/js/forms_wizard.js"></script>
    <script src="~/assets/vendor/libs/photoswipe/photoswipe.js"></script>

    <script src="~/js/common.js"></script>
    <script src="~/js/dropzone.js"></script>
    <script src="~/js/software.js"></script>
    <script src="~/js/gbxml_validate.js"></script>
    <script src="~/js/custom_loading.js"></script>
    <script>function stepToPrev(page) {
            window.location = '/view/' + page;
        }
        function closeVerification() {
            window.location = '/certification';
        }</script>
</body>
</html>
