@page "/view/certification"
@model Asharea_viewer.Pages.view.certificationModel
@{
    ViewData["Title"] = "Certification";
}
@section NavTop {
    <div id="nav-top" class="text-center">
        <ul id="progress">
            <li class="btn-icon-1" onclick="stepToPrev('select')">
                <i class="fa fa-chevron-left"></i>
            </li>
            <li>
                <i class="fa fa-plus-circle"></i>
                Select
            </li>
            <li >
                <i class="fa fa-edit"></i>
                Test Case
            </li>
            <li>
                <i class="far fa-file-alt"></i>
                Test Report
            </li>
            <li class="active">
                <i class="fa fa-certificate"></i>
                Certification
            </li>
            <li class="btn-icon-1 pl-4" onclick="closeVerification()">
                <i class="fa fa-times"></i>
            </li>
        </ul>
    </div>
}

<!-- Content -->
<div class="container-fluid flex-grow-1 container-p-y" style="width:80%;" id="caseList">

    <!-- Header -->
    <div class="container-m-nx container-m-ny bg-white mb-4 text-center">
        <div class="media col-md-10 col-lg-8 col-xl-7 py-5 mx-auto">
            <div class="media-body ml-5">
                <h1 class="font-weight-bold mb-4">Congratulations!</h1>

                <h3 class="font-weight-bold mb-4" >
                    <span id="sw_name"></span> <span id="sw_version"></span>
                </h3>
                <img src="~/imgs/icons/diamond.png" class="ui-w-120 mx-auto my-2" />
                <div class="badge-text" id="sw_status"></div>
                <h1 class="font-weight-bold mb-4 mt-4">gbXML Level 2 Certification</h1>
                <div class="badge-text">
                    on <span id="sw_date"></span>
                </div>
                <div class="row mt-4 text-center">
                    <div class="col"> Certification ID: <span id="lv2-certification-id"></span></div>
                    @*<div class="col"> Expires: September 11, 2020</div>*@
                </div>
                <div class="row mt-4">
                    @*<div class="col"><button class="btn btn-primary mx-auto my-3"  style="width:150px" onclick="stepToPrev('test_report')">Go back</button></div>*@
                    <div class="col"><button class="btn btn-primary mx-auto my-3" id="complete-certification" style="width:150px">Complete</button></div>
                </div>
            </div>
        </div>

    </div>
    
</div>


<script>
    $(function () {
        let software_id = localStorage.getItem("software_id");
        $("#complete-certification").click(function () {
            window.location = '/view/select';
        })
        get_one_software(software_id).then(function (data) {
            $("#sw_name").html(data['name']);
            $("#sw_version").html(data['version']);
            $("#sw_status").html(data['status']);
            $("#sw_date").html(moment(data['modifiedDate']).format('MM/DD/YYYY'));
            get_certification(software_id).then(function (data) {
                $("#lv2-certification-id").html(data['level2CertificationId']);
            });

        })
    })

</script>