@page "/view/certification"
@model Asharea_viewer.Pages.view.certificationModel
@{
    ViewData["Title"] = "Certification";
}
@section NavTop {
    <div id="nav-top" class="text-center">
        <div class="btn-icon-1 my-auto btn" onclick="stepToPrev('test_report')">
            <i class="fa fa-chevron-left"></i>
        </div>
        <div class="btn-box btn">
            <i class="fa fa-plus-circle"></i>
            Select
        </div>
        <div class="btn-box btn">
            <i class="fa fa-edit"></i>
            Test Case
        </div>
        <div class="btn-box btn">
            <i class="far fa-file-alt"></i>
            Test Report
        </div>
        <div class="btn-box btn active">
            <i class="fa fa-certificate"></i>
            Certification
        </div>
        <div class="btn-icon-1 my-auto btn btn-box" onclick="closeVerification()">
            <i class="fa fa-times-circle"></i>
        </div>
    </div>
}

<!-- Content -->
<div class="container-fluid flex-grow-1 container-p-y" style="width:80%;" id="caseList">

    <!-- Header -->
    <div class="container-m-nx container-m-ny bg-white mb-4 text-center">
        <div class="media col-md-10 col-lg-8 col-xl-7 py-5 mx-auto">
            <div class="media-body ml-5">
                <h1 class="font-weight-bold mb-4">Congratulations!</h1>

                <h3 class="font-weight-bold mb-4">
                    Revit
                </h3>
                <img src="~/imgs/icons/diamond.png" class="ui-w-120 mx-auto my-2" />
                <div class="badge-text">Completed</div>
                <h1 class="font-weight-bold mb-4 mt-4">gbXML Level 2 Certification</h1>
                <div class="badge-text">
                    on @DateTime.Now
                </div>
                @*<div class="row mt-4" id="badge-license">
                    <div class="col"> Certification ID: 201927324</div>
                    <div class="col"> Expires: September 11, 2020</div>
                </div>*@
                <div class="row mt-4">
                    @*<div class="col"><button class="btn btn-primary mx-auto my-3"  style="width:150px" onclick="stepToPrev('test_report')">Go back</button></div>*@
                    <div class="col"><button class="btn btn-primary mx-auto my-3" id="complete-certification" style="width:150px">Complete</button></div>
                </div>
            </div>
        </div>

    </div>
    
</div>


<script>
    $(function () {
        $("#complete-certification").click(function () {
            window.location = '/landing';
        })
    })

</script>