@page "/view/test_report"
@model Asharea_viewer.Pages.view.gbxml_viewerModel
@{
    ViewData["Title"] = "Test Report";
}

@section NavTop {
    <div id="nav-top" class="text-center">
        <div class="btn-icon-1 my-auto btn">
            <i class="fa fa-chevron-left"></i>
        </div>
        <div class="btn-box btn">
            <i class="fa fa-plus-circle"></i>
            Select
        </div>
        <div class="btn-box btn">
            <i class="fa fa-edit"></i>
            Test Case
        </div>
        <div class="btn-box btn">
            <i class="fa fa-file-text-o"></i>
            Test Report
        </div>
        <div class="btn-box btn" style="border-right: 1px solid;">
            <i class="fa fa-certificate"></i>
            Certification
        </div>
        <div class="btn-icon-1 my-auto btn">
            <i class="fa fa-times-circle"></i>
        </div>
    </div>
}
 <div>
    <div class="w-100 main-container">
        <div class="main-side-bar">
            <div style="margin: 10rem 40px;">
                <div class="icon-group">
                    <div class="icon-item pull-left text-center">
                        <img src="~/imgs/gbxml_ui/warning.png" alt="">
                        <p>6 Errors</p>
                    </div>
                    <div class="icon-item pull-right text-center">
                        <img src="~/imgs/gbxml_ui/signs.png" alt="">
                        <p>4 Warnings</p>
                    </div>
                </div>
                <div>
                    <div class="dropdown mt-3">
                        <button class="btn btn-danger dropdown-toggle btn-block" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Errors
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Error 1</a>
                            <a class="dropdown-item" href="#">Error 2</a>
                            <a class="dropdown-item" href="#">Error 3</a>
                        </div>
                    </div>
                    <div class="dropdown mt-3">
                        <button class="btn btn-warning dropdown-toggle btn-block" type="button" id="dropdownMenuButton2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Warnings
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <a class="dropdown-item" href="#">Warning 1</a>
                            <a class="dropdown-item" href="#">Warning 2</a>
                            <a class="dropdown-item" href="#">Warning 3</a>
                            <a class="dropdown-item" href="#">Warning 4</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <main id="container" class="">

            </main>
        </div>
    </div>
</div>

<nav id="navMenu" style="top: 55px">

    <header>

        <div id="divHeader">


        </div>

    </header>

    <details open>

        <summary>File Open</summary>

        <div id="divFileOpen" class="dragDropArea"></div>

    </details>

    <details>

        <summary title="Update what you see in the display">Settings</summary>

        <div id="divSettings"></div>

    </details>

    <details ontoggle=divRendererInfo.innerHTML =THRU.getRendererInfo();>
        <!-- not essential -->

        <summary title="Info on what Three.js is animating">Renderer Info</summary>

        <div id="divRendererInfo"></div>

    </details>

    <details ontoggle=divSceneInfo.innerHTML =THRU.getSceneInfo();>
        <!-- not essential -->

        <summary title="Info on what is in the Three.js scene">Scene Info</summary>

        <div id="divSceneInfo"></div>

    </details>

    <div id="divFileInfo"></div>

</nav>

<nav>
    <button id="butHamburger" onclick=MNU.toggleNavLeft(); title="click to hide this menu" style="top: 55px;"> slide &#9776;</button>
</nav>

<div id="divPopUp" style="top: 55px;">

    <div id="divPopUpData"></div>

    <div id="divMessage"></div>

</div>
<script src="https://cdn.jsdelivr.net/gh/mrdoob/three.js@r105/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/mrdoob/three.js@r105/examples/js/controls/OrbitControls.js"></script>
<script src="~/lib/spider_lib/r7/mnu-menu.js"></script>
<script src="~/lib/spider_lib/r7/thr-threejs.js"></script>
<script src="~/lib/spider_lib/r7/thru-threejs-utilities.js"></script>
<script src="~/lib/spider_lib/r7/gbx-gbxml-loader.js"></script>
<script src="~/lib/spider_lib/r7/fil-open-file-gbxml.js"></script>
<script src="~/lib/spider_lib/r7/pop-up-gbxml.js"></script>
<script src="~/lib/spider_lib/r7/gal-sample-files-gallery-gbxml.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>MNU.urlSourceCode = "https://github.com/ladybug-tools/spider-gbxml-tools/tree/master/gbxml-viewer-basic/";

        FIL.divFileInfo = divFileInfo;


        init();
        THR.animate();


        function init() {

            divFileOpen.innerHTML = FIL.getFileOpen(); // if needed: set file info target

            divSettings.innerHTML = THRU.getSettings();


            THR.getThreejs();

            THRU.setHelpers();

            THRU.addSomeLights();

            divPopUpData.innerHTML = POP.getMenuHtmlPopUp();

    }
</script>