@page "/view/select"
@model Asharea_viewer.Pages.view.select_modelModel
@{
    ViewData["Title"] = "Select Case";
}
@section NavTop {
    <div id="nav-top" class="text-center">
        <div class="btn-icon-1 my-auto btn"  onclick="closeVerification()">
            <i class="fa fa-chevron-left"></i>
        </div>
        <div class="btn-box btn active">
            <i class="fa fa-plus-circle"></i>
            Select
        </div>
        <div class="btn-box btn">
            <i class="fa fa-edit"></i>
            Test Case
        </div>
        <div class="btn-box btn">
            <i class="far fa-file-alt"></i>
            Test Report
        </div>
        <div class="btn-box btn">
            <i class="fa fa-certificate"></i>
            Certification
        </div>
        <div class="btn-icon-1 my-auto btn btn-box" onclick="closeVerification()">
            <i class="fa fa-times-circle"></i>
        </div>
    </div>
}

<!-- Content -->
<div class="container-fluid flex-grow-1 container-p-y" style="width:90%;" id="caseList">

    <!-- Header -->
    <div class="container-m-nx container-m-ny bg-white pb-3 text-center">
        <div class="media pt-5 mx-auto">
            <div class="media-body ml-5">
                <h1 class="font-weight-bold mb-4">gbXML V6.0 Level 2 Certificatin</h1>

                <div class="text-muted mb-4" style="font-size: 20px;">
                    Test Cases
                </div>
            </div>
        </div>

    </div>
    <!-- Header -->
    <div class="row scroll-container" id="test_case_list">
        
    </div>
    <div class="row">
        <button class="btn btn-primary mx-auto my-3" id="nextBtn" style="width:150px" disabled>Next</a>
    </div>
</div>
<template id="new_test_case_row">
    <div class="col col-sm-6 col-lg-4 test_case_row my-2">
        <div class="card">
            <img src="~/imgs/icons/sample1.png" class="mx-auto my-2 new_tc_image" />
            <div class="card-body">
                <h4 class="card-title new_tc_label">L-Shape Zone</h4>
                <p class="text-text new_tc_name">
                </p>
                <div style="height: 35px;">
                    <button class="btn btn-outline-primary float-left view_history" style="display: none">View</button>
                    <div class="btn btn-link float-right badge-icon"></div>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
    $(function () {
        let software_id = localStorage.getItem("software_id");

        $("#nextBtn").click(function(){
            $("#testList").hide();
            $("#uploadTestCase").show();
            window.location = "/view/test_case";
        });

        get_certification(software_id).then(function (data) {
            console.log(data);
            var test_results = data['testResult'];
            $.getJSON({
                url: "/json/test_cases.json",
                success: function (data2) {
                    $.each(data2, function (_, item) {
                        $("#test_case_list").html();
                        let holder = $(document.getElementById("new_test_case_row").content.cloneNode(true));
                        let id = item['id'];
                        try {
                            let result = test_results[id];
                            if (result === "success") {
                                holder.find(".card").addClass("green-border passed");
                                holder.find(".badge-icon").append('<img src="/imgs/icons/award.png">');
                                holder.find(".view_history").show();
                            }
                            if (result === "failure") {
                                holder.find(".badge-icon").append('<img src="/imgs/icons/wrong.png">');
                            }
                        } catch (err) {
                        }
                        
                        
                        holder.find(".test_case_row").attr("id", item['id']);
                        holder.find(".new_tc_label").html(item['label']);
                        holder.find(".new_tc_image").attr("src", "/imgs/test_case/" + item['image']);
                        holder.find(".new_tc_name").html(item['name']);

                        $("#test_case_list").append(holder);
                    });
                }
            });
        })
        $("#test_case_list").on('click', '.test_case_row .view_history', function () {
            let selected = $(this).closest(".test_case_row").attr("id");
            console.log(selected);
            localStorage.setItem("selected_test_case", selected);
            localStorage.setItem("view_history", true);
            window.location = "/view/test_report";
        });
        $("#test_case_list").on('click', '.test_case_row .card:not(.passed)', function () {
            $("#test_case_list .test_case_row .card").removeClass("selected");
            $(this).addClass("selected");
            $("#nextBtn").removeAttr('disabled');
            let selected = $(this).parent().attr("id");
            localStorage.setItem("view_history", false);
            localStorage.setItem("selected_test_case", selected);

        });
        
    })

</script>