@page "/view/test_case"
@model gbXMLValidatorWeb.Pages.view.test_caseModel
@{ ViewData["Title"] = "Test Case"; }
@section NavTop {
    <div id="nav-top" class="text-center">
        <ul id="progress">
            <li class="btn-icon-1" onclick="stepToPrev('select')">
                <i class="fa fa-chevron-left"></i>
            </li>
            <li>
                <a href="/view/select">
                    <i class="fa fa-plus-circle"></i>
                    Select
                </a>
            </li>
            <li class="active">
                <a href="/view/test_case">
                    <i class="fa fa-edit"></i>
                    Test Case
                </a>
            </li>
            <li>
                <i class="far fa-file-alt"></i>
                Test Result
            </li>
            <li>
                <i class="fa fa-certificate"></i>
                Certification
            </li>
            <li class="btn-icon-1 pl-4" onclick="closeVerification()">
                <i class="fa fa-times"></i>
            </li>
        </ul>
    </div>

}

<!-- Content -->
<div class="" id="caseList">

    <!-- Header -->
    <div class="bg-white text-center">
        <div class="media col-md-10 col-lg-8 col-xl-7 mx-auto" style="padding:15px 0;">
            <div class="media-body ml-5">
                <h1 class="font-weight-bold"> Step-by-Step Instructions for Test Case Creation</h1>
            </div>
        </div>
    </div>
    <div class="scroll-container">
        <div id="markdown"></div>
        <div class="card-body">
            <div class="row">
                <div>
                    <div id="test-image-list" class="row" itemscope>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="view_footer">
    <div class="mx-auto">
        <button class="btn btn-primary my-3" id="upload_file_btn" style="width:250px;font-size:large; display:none;">Upload gbXML Test Case</button>
        <button class="btn btn-secondary my-3" id="view_result_btn" style="width:250px;font-size:large; display: none;">View Test Result</button>

    </div>
</div>
<template id="test-image-item">
    <figure itemprop="associatedMedia" itemscope>
        <a href="~/assets/img/bg/1.jpg" itemprop="contentUrl" data-size="1920x1280">
            <img src="~/assets/img/bg/1.jpg" class="image-custom-1" itemprop="thumbnail" alt="Image description">
        </a>
        <p class="text-center">Figure 1</p>
    </figure>
</template>
<!-- Modal template -->
<div class="modal fade" id="upload-modal">
    <div class="modal-dialog modal-lg">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto text-center">
                    <i class="lnr lnr-laptop d-block font-weight-light" style="font-size: 50px;"></i>
                    Upload gbXML Test Case
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="card mb-4">
                    <div class="card-body">
                        <div action="#" id="dropzone-demo-1" class="dropzone text-center">
                            <div class="dz-message" data-dz-message><span>Drag the file here or click to browse</span></div>
                        </div>
                    </div>
                </div>
                <div style="text-align:right">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                    <button type="button" class="btn btn-primary" id="upload-file">Upload</button>
                </div>
            </div>

        </form>
    </div>
</div>
<script>
    $(function () {
        var selected_test_case = localStorage.getItem("selected_test_case");
        let software_id = localStorage.getItem("software_id");

        initPhotoSwipeFromDOM('#test-image-list');

        var test_md = "/test/" + selected_test_case + "/" + selected_test_case + ".md";
        $("#markdown").append("<zero-md src=" + test_md + "></zero-md>");
        var img_cnt = 3;
        if (selected_test_case == "test13" || selected_test_case == "test7") {
            img_cnt = 4;
        }
        $("#test-image-list").html("");
        for (var i = 1; i <= img_cnt; i++){
            var image_path = "/test/" + selected_test_case + "/f" + i + ".png";
            let holder = $(document.getElementById("test-image-item").content.cloneNode(true));
            holder.find("a").attr("href", image_path);
            holder.find("img").attr("src", image_path);
            holder.find("p").html("Figure " + i);
            $("#test-image-list").append(holder);
            @*$("#test-image-list").append("<div><img src=" + image_path +" class='image-custom-1 my-2' /><p>Figure "+ i + "</p></div>");*@
        }
        get_certification(software_id).then(function (data) {
            var is_passed = data['isLevel2Passed'];
            if (is_passed) {
                $("#upload_file_btn").hide();
            } else {
                $("#upload_file_btn").show();
            }
        });
        var is_view_history = localStorage.getItem("view_history");
        if (is_view_history != "false") {
            $("#upload_file_btn").html("Retest");
            $("#view_result_btn").show();
        }
        $("#upload_file_btn").click(function () {
            $("#upload-modal").modal('toggle');
        });
        init_dropzone('dropzone-demo-1', false);
        $('#upload-modal').on('shown.bs.modal', function (e) {

        })

        $("#view_result_btn").click(function () {
            window.location = '/view/test_report';
        })

        $('#upload-file').click(function () {
            let dropzone = document.getElementById('dropzone-demo-1').dropzone;
            let files = dropzone.files;
            let file = files[0];
            if (!file) {
                pop_info("Notice", "Please upload the test case");
                return;
            }
            let type = getExtension(file.name);
            if (type != "xml" && type != "gbxml") {
                pop_info("Notice", "Invalid gbXML file");
                return;
            }
            loading_page();
            var fdata = new FormData();
            fdata.append("File", file);

           // gxbml validation via xsd file
                 $.ajax({
                        type: 'POST',
                        url: "@Url.Action("ValidateXML")",
                        data: fdata,
                        processData: false,
                        contentType: false,
                        success: function (warnings) {
                            console.log("validate success");
                            upload_gbxml_file(software_id, selected_test_case, files).then(function (data) {
                                let type = getExtension(file.name);
                                localStorage.setItem("file_type", type);
                                setTimeout(function () {
                                    unloading_page();
                                    $("#upload-modal").modal('toggle');
                                    window.location = '/view/confirm';
                                }, 3000);
                            })


                        },
                        error: function (err) {
                            unloading_with_message("Failure", 'Invalid gbXML file');

                         }
                    });



        });
         

    })

</script>

