@page "/view/test_case"
@model Asharea_viewer.Pages.view.test_caseModel
@{ ViewData["Title"] = "Test Case"; }
@section NavTop {
    <div id="nav-top" class="text-center">
        <div class="btn-icon-1 my-auto btn" onclick="stepToPrev('select')">
            <i class="fa fa-chevron-left"></i>
        </div>
        <div class="btn-box btn">
            <i class="fa fa-plus-circle"></i>
            Select
        </div>
        <div class="btn-box btn active">
            <i class="fa fa-edit"></i>
            Test Case
        </div>
        <div class="btn-box btn">
            <i class="far fa-file-alt"></i>
            Test Report
        </div>
        <div class="btn-box btn">
            <i class="fa fa-certificate"></i>
            Certification
        </div>
        <div class="btn-icon-1 my-auto btn btn-box" onclick="closeVerification()">
            <i class="fa fa-times-circle"></i>
        </div>
    </div>
}

<!-- Content -->
<div class="container-fluid flex-grow-1 container-p-y" style="width:80%;" id="caseList">

    <!-- Header -->
    <div class="container-m-nx container-m-ny bg-white text-center">
        <div class="media col-md-10 col-lg-8 col-xl-7 py-5 mx-auto">
            <div class="media-body ml-5">
                <h1 class="font-weight-bold mb-4"> Now Learn How To Create This Test Case From Your Software</h1>
            </div>
        </div>
    </div>
    <div id="smartwizard-1" class="smartwizard-example">
        <ul style="height:0;">
            <li>
                <a href="#smartwizard-1-step-1" class="mb-3">
                </a>
            </li>
            <li>
                <a href="#smartwizard-1-step-2" class="mb-3">
                </a>
            </li>
           
        </ul>
        <div class="mb-3">
            <div id="smartwizard-1-step-1" class="card animated fadeIn" style="border: none;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2" class="text-center">
                            <span style="line-height: 12; font-size:20px;">Step 1</span>
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <img src="~/imgs/icons/sample1.png" class="image-custom-1 my-2" />
                                <img src="~/imgs/icons/sample2.png" class="image-custom-1 my-2" />
                                <img src="~/imgs/icons/sample3.png" class="image-custom-1 my-2" />
                            </div>

                            <div>
                                <p style="font-size:12px;line-height:17px;" class="mt-3">
                                    The Green Building XML schema (gbXML) is an open schema developed to facilitate transfer of building data stored in Building Information Models (BIM) to engineering analysis tools. gbXML is being integrated into a range of software CAD and engineering tools and supported by leading 3D BIM vendors.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="smartwizard-1-step-2" class="card animated fadeIn" style="border: none;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2" class="text-center">
                            <span style="line-height: 12; font-size:20px;">Step 2</span>
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <img src="~/imgs/icons/sample3.png" class="image-custom-1 my-2" />
                                <img src="~/imgs/icons/sample2.png" class="image-custom-1 my-2" />
                                <img src="~/imgs/icons/sample1.png" class="image-custom-1 my-2" />
                            </div>

                            <div>
                                <p style="font-size:12px;line-height:17px;" class="mt-3">
                                    The Green Building XML schema (gbXML) is an open schema developed to ...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary mx-auto my-3" id="upload_file_btn" style="width:200px">Upload Your Test Case</button>
    </div>
</div>

<!-- Modal template -->
<div class="modal fade" id="upload-modal">
    <div class="modal-dialog modal-lg">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto text-center">
                    <i class="lnr lnr-laptop d-block font-weight-light" style="font-size: 50px;"></i>
                    Upload test case
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="card mb-4">
                    <div class="card-body">
                        <div action="#" id="dropzone-demo-1" class="dropzone">
                            <div class="dz-message" data-dz-message><span>Drag files here or browse to upload</span></div>
                        </div>
                    </div>
                </div>
                <div style="text-align:right">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                    <button type="button" class="btn btn-primary" id="upload-file">Upload</button>
                </div>
            </div>

        </form>
    </div>
</div>
<script>
    $(function () {
        $("#upload_file_btn").click(function () {
            $("#upload-modal").modal('toggle');
        });
        init_dropzone('dropzone-demo-1', false);
        $('#upload-modal').on('shown.bs.modal', function (e) {
            
        })

        $('#upload-file').click(function () {
            window.location = '/view/confirm';
        })
    })

</script>