@page "/forgot_password"
@model gbXMLValidatorWeb.Pages.auth.forgot_passwordModel
@{
    ViewData["Title"] = "Forgot Password";
}
<div class="page-loader">
    <div class="bg-primary"></div>
</div>

<!-- Content -->

<div class="authentication-wrapper authentication-2 px-4">
    <div class="authentication-inner py-5">

        <!-- Form -->
        <form class="card" onsubmit="return forgot_password(event)">
            <div class="p-4 p-sm-5">

                <div class="d-flex justify-content-center align-items-center">
                    <div class="">
                        <div class="w-100 position-relative text-center">
                            <img src="imgs/icons/gbxml.png" class="w-75" />
                        </div>
                    </div>
                </div>

                <!-- / Logo -->

                <h5 class="text-center text-muted font-weight-normal mb-4">Reset Your Password</h5>

                <hr class="mt-0 mb-4">

                <p>
                    Enter your email address, and we will send you a link to reset your password.
                </p>

                <div class="form-group">
                    <input type="text" class="form-control" id="email" placeholder="Email Address" required="required">
                </div>

                <button type="submit" class="btn btn-primary btn-block">Send Password Reset Email</button>
                <br />
                <div class="text-center d-block small">
                    Return to <a href="/login">Sign In</a> page
                </div>

            </div>
        </form>
        <!-- / Form -->

    </div>
</div>
<script>$(document).ready(function () {

    });

    function forgot_password(e) {
        e.preventDefault();

        let email = $("#email").val();
        $.ajax({
            type: 'POST',
            url: get_root_Api() + 'ForgotPassword',
            data: {
                email: email
            },
            success: function (data) { },
            error: function (error) { }
        });
        $("#email").val("");
        pop_info_go("Notice", "An email with the password reset instruction was delivered to your email address. If you have any questions, please contact info@carmelsoft.com", "./login");

        return false;  // prevent form submit jump to action link
    }</script>