@page "/login"
@model Asharea_viewer.Pages.loginModel
@{ ViewData["Title"] = "Login"; }

<div class="page-loader">
    <div class="bg-primary"></div>
</div>

<!-- Content -->

<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <div class="d-flex justify-content-center align-items-center">
            <div class="">
                <div class="w-100 position-relative text-center">
                    <img src="imgs/icons/gbxml.png" class="w-75" />
                </div>
            </div>
        </div>
        <!-- / Logo -->
        <!-- Form -->
        <form class="my-5" onsubmit="return sign_in(event)">
            <div class="form-group">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" id="username" required="required">
            </div>
            <div class="form-group">
                <label class="form-label d-flex justify-content-between align-items-end">
                    <div>Password</div>
                    <a href="/forgot_password" class="d-block small">Forgot password?</a>
                </label>
                <input type="password" class="form-control" id="password" required="required">
            </div>
            <div class="d-flex justify-content-between align-items-center m-0">
                @*<label class="custom-control custom-checkbox m-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">Remember me</span>
                    </label>*@
                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
              
            </div>
        </form>
        <!-- / Form -->

        <div class="text-center text-muted">
            Don't have an account yet? <a href="/register">Sign Up</a>
        </div>

    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6LeBOBwaAAAAADuiZxzkebzGqplbsRRaSp8BYeT2"></script>
<script>function sign_in(e) {
        e.preventDefault();
        let username = $("#username").val();
        let pwd = $("#password").val();
        grecaptcha.ready(function () {
            grecaptcha.execute('6LeBOBwaAAAAADuiZxzkebzGqplbsRRaSp8BYeT2', { action: 'validate_captcha' }).then(function (token) {
                login(username, pwd, token).then(function (data) {
                    window.location.href = "./software";
                });
                
            });
        });
        
        
    }
</script>
