@page "/register"
@model gbXMLValidatorWeb.Pages.auth.registerModel
@{
    ViewData["Title"] = "Register";
}


<!-- Content -->

<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

     
        <div class="d-flex justify-content-center align-items-center">
            <div class="">
                <div class="w-100 position-relative text-center">
                    <img src="imgs/icons/gbxml.png" class="w-75"/>
                </div>
            </div>
        </div>
   
        <!-- Form -->
        <form id="validation-form" novalidate="novalidate" class="my-5">
           
            <div class="form-group">
                <label class="form-label">Your email</label>
                <input type="email" class="form-control reuqired" id="email" required="required">
            </div>
            <div class="form-group">
                <label class="form-label">Password</label>
                <input type="password" class="form-control reuqired is_invalid" id="password" name="password">
            </div>
            <button class="btn btn-primary btn-block mt-4" onClick="sign_up(event);">Sign Up</button>
            <div class="bg-lightest text-muted small p-2 mt-4">
                By clicking "Sign Up", you agree to our
                <a href="javascript:void(0)">terms of service and privacy policy</a>. We’ll occasionally send you account related emails.
            </div>
        </form>
        <!-- / Form -->

        <div class="text-center text-muted">
            Already have an account? <a href="/login">Sign In</a>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $.validator.addMethod("pwcheck", function (value, element) {
            return /[a-z]/.test(value) // has a lowercase letter
                && /\d/.test(value) // has a digit
        }, "At least one lowercase letter and one number digit");

    });

   
    function sign_up(e) {
        e.preventDefault();
        var validator = $("#validation-form").validate({
            errorPlacement: function (error, element) {
                var $parent = $(element).parents('.form-group');
                $parent.append(
                    error.addClass('jquery-validation-error small form-text invalid-feedback')
                );
            },
            rules: {
                password: {
                    required: true,
                    pwcheck: true,
                    minlength: 5
                }
            },
            message: {
                password: {
                    pwcheck: "Your password must contain at least one lowercase letter and one number digit",
                    minlength: "Your password must be at least 5 characters long"
                }
            }
        });
        if (validator.form()) {
            let email = $("#email").val();
            let password = $("#password").val();
            $.ajax({
                type: 'POST',
                url: get_root_Api() + 'Register',
                data: {
                    email: email,
                    password: password
                },
                success: function (data) {
                    window.location.href = "./register_validate";
                },
                error: function (error) {
                    process_error(error);
                }
            });
            return false;  // prevent form submit jump to action link
        }
    }
</script>