@page "/reset_password"
@model gbXMLValidatorWeb.Pages.auth.resset_passwordModel
@{
    ViewData["Title"] = "Reset Password";
}
<div class="page-loader">
    <div class="bg-primary"></div>
</div>

<!-- Content -->

<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">


        <div class="d-flex justify-content-center align-items-center">
            <div class="">
                <div class="w-100 position-relative text-center">
                    <img src="imgs/icons/gbxml.png" class="w-75"/>
                </div>
            </div>
        </div>

        <!-- / Logo -->
        <h5 class="text-center text-muted font-weight-normal mb-4">Reset Your Password</h5>
        <!-- Form -->
        <form method="post" id="validation-form" novalidate="novalidate" class="my-5">
            <div class="form-group">
                <label class="form-label">Password *</label>
                <input type="password" class="form-control reuqired is_invalid" id="password" name="password">
            </div>
            <div class="form-group">
                <label class="form-label">Confirm Password *</label>
                <input type="password" class="form-control required is_invalid" id="confirm" name="confirm">
            </div>
            <button class="btn btn-primary btn-block mt-4" onClick="validatePassword(event);">Change password</button>

        </form>
        <!-- / Form -->

        <div class="text-center text-muted">
            Already have an account? <a href="/login">Sign In</a>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        
        $.validator.addMethod("pwcheck", function (value, element) {
            return /[a-z]/.test(value) // has a lowercase letter
                && /\d/.test(value) // has a digit
        }, "At least one lowercase letter and one number digit");

    });
    function validatePassword(e) {
        e.preventDefault();


        var validator = $("#validation-form").validate({
            errorPlacement: function (error, element) {
                var $parent = $(element).parents('.form-group');
                $parent.append(
                    error.addClass('jquery-validation-error small form-text invalid-feedback')
                );
            },
            rules: {
                confirm: {
                    equalTo: "#password"
                },
                password: {
                    required: true,
                    pwcheck: true,
                    minlength: 5
                }
            },
            message: {
                password: {
                    pwcheck: "Your password must contain at least one lowercase letter and one number digit",
                    minlength: "Your password must be at least 5 characters long"
                }
            }
        });
        if (validator.form()) {
            let password = $("#confirm").val();
            let url = window.location.href;
            let uuid = url.split("?")[1];
            $.ajax({
                type: 'POST',
                url: get_root_Api() + 'ResetPassword',
                data: {
                    password: password,
                    uuid: uuid
                },
                success: function (data) {
                    pop_info_go("Notice", "Password has been updated!\nPlease login again", "./login");
                },
                error: function (error) {
                    $("#password").val("");
                    $("#confirm").val("");
                    process_error(error);
                }
            });
        }
    }
</script>