#tab-text .nav-item .nav-link.active {
    color: #26B4FF;
}
.file-manager-row-view .file-manager-row-header, .file-manager-row-view .file-item {
    padding: .25rem 0 .25rem 0 !important;
}
.icon-size {
    font-size:large;
}
.circle-icon {
    border-radius: 50%;
    border: 4px solid;
    
}
.badge {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 90px;
    vertical-align: middle;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#nav-top {
    height: 55px;
    background-color: white;
    display: flex;
    border-bottom: 1px solid #d8d8d8;
}

.main-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.main-content {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    width: calc(100% - 320px);
    -moz-box-flex: 1;
    background: #faf8e3;
}

.main-side-bar {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 320px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #494949;
}

.btn-box {
    width: calc((100% - 200px)/4);
    margin: auto;
}

.btn-icon-1 {
    font-size: x-large;
}

.btn-box {
    border-left: 1px solid #d8d8d8;
}

.btn-box.active {
    border-bottom: 3px solid #346BE1;
}

.btn-box, .btn-icon-1 i {
    font-size: 25px;
}

.icon-item img {
    width: 6rem;
    height: 6rem;
}

.icon-item p {
    margin-top: 10px;
    font-weight: bold;
}
#dropzone-demo {
    box-sizing: border-box;
    width: 100%;
    z-index: 99999;
}

.badge-text {
    font-size: 20px;
    font-family: PingFangSC-Regular;
    color: rgba(0,0,0,0.85);
    text-align: center;
    line-height: 17px;
}
#badge-license {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(0,0,0,0.85);
    text-align: center;
    line-height: 17px;
}

#progress-bar-custom {
    height: 1.2rem;
    width: 60%;
}

.text-medium {
    font-size: medium;
}

.image-custom-1 {
    height: 150px;
    width: auto !important;
    padding-right: 15px;
}

.dropzone .progress {
    /* progress bar covers file name */
    display: none !important;
}

/*software page*/
.software-icon img {
    width: 80px;
}