/*select model css*/
.new_tc_image {
    width: auto !important;
    height: 20vh;
}

.new_tc_name {
    min-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new_tc_desc {
    white-space: nowrap;
    overflow: hidden;
    min-width: 200px;
    text-overflow: ellipsis;
}

.scroll-container {
    overflow-y: scroll;
    height: 67vh;
    padding: 25px 6%;
    background-color: #f6f6f6;
}

/* always show scrollbars */

#test_case_list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

#test_case_list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.test_case_row .card {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

    .test_case_row .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.test_case_row .selected {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 2px solid black;
}

.green-border {
    border: 2px solid green;
}

.red-border {
    border: 2px solid red;
}

/*gbxml viewer*/
#output-list .output-item p{
    font-size: small;
}

.test-badge {
    font-size: 15px;
    margin-left: 10px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
}

/*view progress bar*/
#progress {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 0 -1px;
    text-align: center;
    width: 100%;
}
#progress li:first-child {
    width: 5%;
    color:#357bfb;
    background: white;
}

#progress li:last-child {
    width: 7%;
    color: #357bfb;
    background: white;
}
#progress li:not(:first-child):not(:last-child) {
    width: calc((88% - 18px)/4);
}
#progress li {
    float: left;
    padding: 15px 0;
    color: #acb5c2;
    position: relative;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
/*    margin: 0 1px;*/
    height: 55px;
    font-size: large;
    background: #f4f5fa;
}

#progress li:not(:first-child):before {
    content: '';
    border-left: 26px solid darkgrey;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    
}
#progress li:not(:last-child):after {
    content: '';
    border-left: 26px solid #f4f5fa;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}

#progress li.active {
    background: #357bfb;
    color: white;
}

#progress li.active:after {
    border-left-color: #357bfb;
    
}

#progress li:first-child:after {
    border-left-color: white;
}

/*end of view progress bar*/

/*test case page css*/
.pswp img {
    max-width: none;
    object-fit: contain;
}

/*all pages */
.view_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}