/*select model css*/
.new_tc_image {
    width: auto !important;
    height: 20vh;
}

.new_tc_name {
    min-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new_tc_desc {
    white-space: nowrap;
    overflow: hidden;
    min-width: 200px;
    text-overflow: ellipsis;
}

.scroll-container {
    overflow-y: scroll;
    height: 67vh;
    padding: 25px 10%;
    background-color: #EAEAEA;
}

/* always show scrollbars */

#test_case_list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

#test_case_list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.test_case_row .card {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

    .test_case_row .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.test_case_row .selected {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 2px solid black;
}

.green-border {
    border: 2px solid green;
}

/*gbxml viewer*/
#output-list .output-item p{
    font-size: small;
}