@page
@model PrivacyModel
@{
    ViewData["Title"] = "Asharea | Redirecting...";
}
<!DOCTYPE html>

<html lang="en" class="default-style">

<head>
    <meta name=description
          content="Open, view and examine gbXML files in 3D in your browser with free, open source entry-level Three.js JavaScript">
    <meta name=keywords content="gbXML,Spider,Ladybug.tools,Three.js,WebGL,JavaScript,GitHub,FOSS,3D,STEM">
    <meta name="date" content="2018-11-15">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
</head>
<body>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/common.js"></script>
    <script>
        $(function () {
            $.ajax({
                'type': 'GET',
                'url': get_root_Api() + 'api/AuthenticateUser',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', get_token());
                },
                'success': function (data) {
                    window.location.href = "./software";
                },
                'error': function (data) {
                    window.location.href = "./login";
                }
            })
        });
    </script>
</body>
</html>