@page "/certification"
@model Asharea_viewer.Pages.dashboard.certificationModel
@{ ViewData["Title"] = "Certification"; }
@section sideInfo {
    <!-- Side info -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="media">
                <img src="assets/img/avatars/profile_default.jpg" alt class="ui-w-60 rounded-circle user-image">
                <div class="media-body pt-2 ml-3">
                    <h5 class="mb-2 u_full_name"></h5>

                </div>
            </div>
            <div class="text-muted small mt-3">Software</div>
            <h5 class="font-weight-bold mt-2 selected_software"></h5>
            <hr class="border-light m-0">
            <div class="text-muted small pt-3 text-uppercase">Certification Level</div>
            <h5 class="mb-4 font-weight-bold mt-2 certification_level">
            </h5>

        </div>
    </div>
    <!-- / Side info -->
}

@section navArchor {
    <h4 class="font-weight-bold py-3 mb-4">
        <a href="/software" class="text-muted font-weight-light">Dashboard / </a> <a href="/certification">Certification</a>
    </h4>
}
<div class="card mb-4">
    <ul class="list-group list-group-flush">

        <li class="list-group-item py-4">
            <div class="media flex-wrap">
                <div class="circle-icon badge border-success" id="level1_image">
                    <img src="~/imgs/icons/shield.png"></img>
                </div>
                <div class="media-body ml-sm-4">
                    <h5 class="mb-2">
                        <a href="javascript:void(0)" class="text-body">Level 1 Certification</a>&nbsp;
                    </h5>

                    <div id="start_level1">
                        <div>Start the level 1 gbXML certification validation for</div>
                        <div>software: <strong class="selected_software">Autodesk Revit</strong></div>
                        <div class="mt-3">
                            <button class="btn btn-primary ui-w-120" id="upload_file_btn">Validate</button>
                            <button class="btn btn-secondary ui-w-120" id="view_lv1_btn" style="display: none;">View</button>
                        </div>
                    </div>
                    <div id="complete_level1" style="display:none;">
                        <div><strong class="selected_software">Autodesk Revit</strong> pass the level1 Certification</div>
                        <div class="mt-2">Certification ID: <span id="level1_certification_id">201927324</span></div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item py-4">
            <div class="media flex-wrap">
                <div class="circle-icon badge border-warning" id="level2_image">
                    <img src="~/imgs/icons/shield.png"></img>
                </div>
                <div class="media-body ml-sm-4">
                    <h5 class="mb-2">
                        <a href="javascript:void(0)" class="text-body">Level 2 Certification</a>&nbsp;
                    </h5>

                    <div id="start_level2">
                        <div>Start the level 2 gbXML cerfication vlaidation for</div>
                        <div>software: <strong class="selected_software">Autodesk Revit</strong></div>
                        <div class="mt-3">
                            <button class="btn btn-primary ui-w-120" id="start_level2_btn">Validate</button>
                        </div>
                    </div>
                    <div id="complete_level2" style="display:none;">
                        <div style="font-size:.8rem;font-weight:bold;" class="mt-2"><span class="level2_percentage">30%</span> COMPLETED!</div>
                        <div class="progress my-3" id="progress-bar-custom">
                            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated level2_percentage" style="width: 0;">30%</div>
                        </div>
                        <div>Great Job! You have completed <span class="level2_percentage">30%</span>  of the test cases.</div>
                        <div>Keep the good Work!</div>
                        <div class="mt-3">
                            <button class="btn btn-primary ui-w-120" id="process_level2_btn">Continue</button>
                            <button class="btn btn-secondary ui-w-120" id="view_certification_btn" style="display: none;">Certification</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</div>
<!-- Modal template -->
<div class="modal fade" id="upload-modal">
    <div class="modal-dialog modal-lg">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto text-center">
                    <i class="lnr lnr-laptop d-block font-weight-light" style="font-size: 50px;"></i>
                    Upload test case
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="card mb-4">
                    <div class="card-body">

                        <div action="#" id="dropzone-demo" class="dropzone text-center">
                            <div class="dz-message" data-dz-message><span>Drag files here or browse to upload</span></div>
                        </div>
                    </div>
                </div>
                <div style="text-align:right">
                    <button type="button" class="btn btn-primary" id="validate_xml_btn">Validate</button>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="modal fade" id="Message-modal">
    <div class="modal-dialog modal-lg">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto text-center">
                    <i class="lnr lnr-laptop d-block font-weight-light" style="font-size: 50px;"></i>
                    Congratulation
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="card mb-4">
                    <div class="card-body text-center">

                        <div>
                            Your gbxml model has passed the level 1 certification test.

                        </div>
                        <div>
                            You can download the warning report here
                        </div>
                        <br>
                        <div style="text-align:center">
                            <button type="button" class="btn btn-primary" id="download-report-btn">Download Warning Report</button>
                        </div>
                    </div>

                </div>
                
            </div>

        </form>
    </div>
</div>
<script>
    $(function () {
        let software_id = localStorage.getItem("software_id");
        let file_type = "gbxml";
        let log_result = "";
        get_one_software(software_id).then(function (data) {
            $(".selected_software").html(data['name'] + " " + data['version']);
            $(".certification_level").html(getCertificationLevel(data['certificationLevel']));

        });

        let total_tests = 18;
        get_certification(software_id).then(function (data) {
            let is_level1_passed = data['isLevel1Passed'];
            let is_level2_passed = data['isLevel2Passed'];
            let passed_test = data['passedTests'];
            file_type = data['lv1Type'];
            if (file_type && file_type.length > 0) {
                $("#view_lv1_btn").show();
            }
       @* update validate work flow  original: cerfiticate 1 -> certificate 2*@
            if (passed_test > 0) {
                $("#start_level2").hide();
                $("#complete_level2").show();
                let percentage = Math.round(passed_test / total_tests * 100) ;
                $(".level2_percentage").html(percentage + "%");
                $("#progress-bar-custom .level2_percentage").css("width", percentage + "%");
                $("#process_level2_btn").attr("is_passed", is_level2_passed).html(is_level2_passed ? "View" : "Continue");
                if (is_level2_passed) {
                    $("#view_certification_btn").show();
                    $("#level2_image").removeClass("border-warning circle-icon");
                    $("#level2_image img").attr("src", "/imgs/icons/diamond.png").css("width","80%");
                }
            }
        });
        $("#view_certification_btn").click(function () {
            window.location = '/landing';
        })

        $("#view_lv1_btn").click(function () {
            localStorage.setItem("lv1_file_type", file_type);
            window.open("/viewer");
        })
        $("#validate_xml_btn").click(function () {
            let dropzone = document.getElementById('dropzone-demo').dropzone;
            let files = dropzone.files;
            let file = files[0];
            if (!file) {
                pop_info("Notice", "Please upload the test case");
                return;
            }
            let type = getExtension(file.name);
            if (type != "xml" && type != "gbxml") {
                pop_info("Notice", "Invalid gbXML file");
                return;
            }
            loading_page();
            var fdata = new FormData();
            fdata.append("File", file);
            
           // gxbml validation via xsd file
                 $.ajax({
                        type: 'POST',
                        url: "@Url.Action("ValidateXML")",
                        data: fdata,
                        processData: false,
                        contentType: false,
                        success: function (warnings) {
                         console.log("validate success");
                         log_result = warnings;
                         upload_lv1_gbxml_file(software_id, dropzone.files).then(function (data) {
                             file_type = data;
                             $("#view_lv1_btn").show();
                             update_certification_lv1(software_id, true).then(function (data) {
                                 if (data) {
                                     $(".certification_level").html("Level1");
                                     setTimeout(function () {
                                         unloading_page();
                                         $("#upload-modal").modal('toggle');
                                         if (warnings.length > 0) {
                                             
                                             $("#Message-modal").modal("toggle");
                                             
                                         } else {
                                             pop_info("Success", "You have passed the level1 Certification");
                                         }

                                         
                                     }, 3000);
                                 }


                             })

                         })


                        },
                        error: function (err) {
                            unloading_with_message("Failure", 'Invalid gbXML file');
                      
                         }
                    });

            

        });
        $("#download-report-btn").click(function () {
            let type = "text/html";
            let name = "report.html";
            downloader(log_result, type, name)
        })
        $("#upload_file_btn").click(function () {
            document.getElementById('dropzone-demo').dropzone.removeAllFiles(true);
            $("#upload-modal").modal('toggle');
        });
        init_dropzone('dropzone-demo',false);
        $('#upload-modal').on('shown.bs.modal', function (e) {

        })
    });

    $("#process_level2_btn").click(function () {
        let is_passed = $(this).attr("is_passed");
        let url = "/view/select";
        window.location = url;
    });

    $("#start_level2_btn").click(function () {
        window.location = '/view/select';
    });






</script>